
<div>
    <h2><span>Role</span> {{vm.role.id}}</h2>
    <hr>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.role.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.role.description}}</span>
        </dd>
        <dt><span>Included Authorization</span></dt>
        <dd>
            <span ng-repeat="includedAuthorization in vm.role.includedAuthorizations">
                <a ui-sref="authorization-detail({id: includedAuthorization.id})">{{includedAuthorization.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Excluded Authorization</span></dt>
        <dd>
            <span ng-repeat="excludedAuthorization in vm.role.excludedAuthorizations">
                <a ui-sref="authorization-detail({id: excludedAuthorization.id})">{{excludedAuthorization.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Actual Role</span></dt>
        <dd>
            <span ng-repeat="actualRole in vm.role.actualRoles">
                <a ui-sref="authorization-detail({id: actualRole.id})">{{actualRole.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Parent Role</span></dt>
        <dd>
            <span ng-repeat="parentRole in vm.role.parentRoles">
                <a ui-sref="role-detail({id: parentRole.id})">{{parentRole.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="role-detail-edit({id:vm.role.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
